
@{
    ViewData["Title"] = "Index";
}

<h1>Word Repeater</h1>

<form action="../WordRepeat/Repeater" method="post">
    Enter a word<input type="text" name="Word"  />
    How many times do you want to repeat?<input type="text" name="NumberOfTimes" />
                                        <input type="submit"  value="Repeat" />
</form>

